.about-us-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.about-us-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.about-us-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.about-us-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.about-us-desktop-menu {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.about-us-navlink {
  display: contents;
}
.about-us-image {
  width: 249px;
  height: 165px;
  object-fit: cover;
  text-decoration: none;
}
.about-us-icon {
  top: 64px;
  fill: #1b9ce4;
  left: 1098px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.about-us-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-us-login {
  color: #fffefe;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  background-color: #1b9ce4;
}
.about-us-register {
  color: #ffffff;
  border-width: 0px;
  background-color: #1b9ce4;
}
.about-us-burger-menu {
  display: none;
}
.about-us-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-us-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.about-us-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.about-us-logo {
  height: 2rem;
}
.about-us-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-us-links {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-text {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-us-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.about-us-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-us-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-us-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-us-menu {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-hamburger {
  cursor: pointer;
  display: none;
  padding: var(--dl-space-space-unit);
  aspect-ratio: 1;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.3);
}
.about-us-icon12 {
  fill: #ffffff;
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-us-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.about-us-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.about-us-logo1 {
  height: 33px;
}
.about-us-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-us-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-container3 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.about-us-login2 {
  margin-right: var(--dl-space-space-twounits);
}
.about-us-icon-group1 {
  display: flex;
}
.about-us-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-us-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-us-icon20 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-us-about {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.about-us-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-us-header {
  color: rgb(53, 43, 42);
  font-size: 60px;
  font-style: normal;
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 60px;
}
.about-us-caption {
  color: rgb(53, 43, 42);
  font-size: 18px;
  max-width: 600px;
  text-align: center;
  font-family: "Karla";
  line-height: 27px;
}
.about-us-list {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}
.about-us-guide-wrapper {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}
.about-us-guide-wrapper1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}
.about-us-guide-wrapper2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}
.about-us-guide-wrapper3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}
.about-us-footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #352B2A;
}
.about-us-content {
  gap: 120px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
.about-us-main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.about-us-branding {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-heading1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-image1 {
  height: 33px;
  object-fit: cover;
}
.about-us-caption1 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 21px;
}
.about-us-links1 {
  gap: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.about-us-items {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-link {
  color: rgb(255, 255, 255);
}
.about-us-link01 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.about-us-link02 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.about-us-link03 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.about-us-items1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-link04 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.about-us-link05 {
  color: rgb(255, 255, 255);
}
.about-us-link06 {
  color: rgb(255, 255, 255);
}
.about-us-link07 {
  color: rgb(255, 255, 255);
}
.about-us-items2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-link08 {
  color: rgb(255, 255, 255);
}
.about-us-link09 {
  color: rgb(255, 255, 255);
}
.about-us-link10 {
  color: rgb(255, 255, 255);
}
.about-us-link11 {
  color: rgb(255, 255, 255);
}
.about-us-link12 {
  color: rgb(255, 255, 255);
}
.about-us-copyright {
  color: #766968;
  font-size: 12px;
}
.about-us-container5 {
  display: contents;
}
@media(max-width: 1200px) {
  .about-us-header {
    color: rgb(53, 43, 42);
    font-size: 60px;
    font-style: normal;
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 60px;
  }
}
@media(max-width: 991px) {
  .about-us-list {
    grid-template-columns: auto auto;
  }
  .about-us-content {
    gap: var(--dl-space-space-threeunits);
  }
  .about-us-main {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .about-us-branding {
    max-width: 80%;
  }
  .about-us-heading1 {
    gap: var(--dl-space-space-unit);
  }
  .about-us-links1 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .about-us-navbar {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-desktop-menu {
    display: none;
  }
  .about-us-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-us-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-text01 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-text02 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-text03 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-text04 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-menu {
    display: flex;
  }
  .about-us-hamburger {
    display: flex;
  }
  .about-us-mobile-menu1 {
    background-color: #397B53;
  }
  .about-us-icon14 {
    fill: #fff;
  }
  .about-us-text05 {
    color: #fff;
  }
  .about-us-text06 {
    color: #fff;
  }
  .about-us-text07 {
    color: #fff;
  }
  .about-us-text08 {
    color: #fff;
  }
  .about-us-text09 {
    color: #fff;
  }
  .about-us-about {
    gap: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-heading {
    gap: var(--dl-space-space-unit);
  }
  .about-us-header {
    font-size: 32px;
    line-height: 31px;
  }
  .about-us-caption {
    font-size: 16px;
    line-height: 24px;
  }
  .about-us-list {
    grid-template-columns: auto;
  }
  .about-us-content {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-branding {
    max-width: 70%;
  }
}
@media(max-width: 479px) {
  .about-us-navbar {
    padding: var(--dl-space-space-unit);
  }
  .about-us-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .about-us-mobile-menu {
    padding: 16px;
  }
  .about-us-mobile-menu1 {
    padding: 16px;
  }
}
