.login-page-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.login-page-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.login-page-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.login-page-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.login-page-desktop-menu {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.login-page-navlink {
  display: contents;
}
.login-page-image {
  width: 249px;
  height: 165px;
  object-fit: cover;
  text-decoration: none;
}
.login-page-icon {
  top: 64px;
  fill: #1b9ce4;
  left: 1098px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.login-page-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.login-page-login {
  color: #fffefe;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  background-color: #1b9ce4;
}
.login-page-register {
  color: #ffffff;
  border-width: 0px;
  background-color: #1b9ce4;
}
.login-page-burger-menu {
  display: none;
}
.login-page-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.login-page-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.login-page-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.login-page-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.login-page-logo {
  height: 2rem;
}
.login-page-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-page-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.login-page-links {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.login-page-text {
  margin-bottom: var(--dl-space-space-unit);
}
.login-page-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.login-page-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.login-page-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.login-page-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.login-page-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.login-page-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.login-page-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.login-page-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.login-page-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.login-page-menu {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-page-hamburger {
  cursor: pointer;
  display: none;
  padding: var(--dl-space-space-unit);
  aspect-ratio: 1;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.3);
}
.login-page-icon12 {
  fill: #ffffff;
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.login-page-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.login-page-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.login-page-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.login-page-logo1 {
  height: 33px;
}
.login-page-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-page-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.login-page-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.login-page-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.login-page-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.login-page-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.login-page-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.login-page-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.login-page-container3 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.login-page-login2 {
  margin-right: var(--dl-space-space-twounits);
}
.login-page-icon-group1 {
  display: flex;
}
.login-page-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.login-page-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.login-page-icon20 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.login-page-link {
  top: 6px;
  left: -412px;
  color: rgb(255, 255, 255);
  width: 287px;
  height: 44px;
  position: absolute;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  border-radius: 56px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
  background-color: rgb(27, 156, 228);
}
.login-page-login-box {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-color: var(--dl-color-primary-500);
}
.login-page-content {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 947px;
  display: flex;
  max-width: 1440px;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.login-page-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login-page-header {
  color: rgb(53, 43, 42);
  font-size: 60px;
  font-style: normal;
  text-align: center;
  font-family: "Cormorant Infant";
  font-weight: 700;
  line-height: 60px;
}
.login-page-caption {
  color: rgb(53, 43, 42);
  font-size: 18px;
  max-width: 600px;
  text-align: center;
  font-family: "Karla";
  line-height: 27px;
}
.login-page-accordion {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
}
.login-page-footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #352B2A;
}
.login-page-content1 {
  gap: 120px;
  width: 100%;
  height: 209px;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.login-page-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.login-page-image1 {
  left: -70px;
  width: 230px;
  height: 202px;
  position: absolute;
  object-fit: cover;
}
.login-page-main {
  width: 100%;
  height: 166px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.login-page-branding {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.login-page-heading1 {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.login-page-links1 {
  gap: 300px;
  width: 1381px;
  display: flex;
  align-self: center;
  align-items: center;
  padding-left: 100px;
  flex-direction: row;
  justify-content: center;
}
.login-page-items {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.login-page-link1 {
  color: rgb(255, 255, 255);
}
.login-page-link2 {
  text-decoration: none;
}
.login-page-items1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.login-page-link3 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.login-page-items2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.login-page-link4 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.login-page-copyright {
  color: rgb(118, 105, 104);
  right: -50px;
  bottom: 5px;
  position: absolute;
  font-size: 12px;
}
.login-page-container6 {
  display: contents;
}
@media(max-width: 1200px) {
  .login-page-link {
    color: var(--dl-color-gray-black);
    text-decoration: none;
  }
}
@media(max-width: 991px) {
  .login-page-content1 {
    gap: var(--dl-space-space-threeunits);
  }
  .login-page-main {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .login-page-branding {
    max-width: 80%;
  }
  .login-page-heading1 {
    gap: var(--dl-space-space-unit);
  }
  .login-page-links1 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .login-page-navbar {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .login-page-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .login-page-desktop-menu {
    display: none;
  }
  .login-page-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-page-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-page-text01 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-page-text02 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-page-text03 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-page-text04 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-page-menu {
    display: flex;
  }
  .login-page-hamburger {
    display: flex;
  }
  .login-page-mobile-menu1 {
    background-color: #397B53;
  }
  .login-page-icon14 {
    fill: #fff;
  }
  .login-page-text05 {
    color: #fff;
  }
  .login-page-text06 {
    color: #fff;
  }
  .login-page-text07 {
    color: #fff;
  }
  .login-page-text08 {
    color: #fff;
  }
  .login-page-text09 {
    color: #fff;
  }
  .login-page-login-box {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .login-page-content {
    gap: var(--dl-space-space-threeunits);
  }
  .login-page-heading {
    gap: var(--dl-space-space-unit);
  }
  .login-page-header {
    font-size: 32px;
    line-height: 31px;
  }
  .login-page-caption {
    font-size: 16px;
    line-height: 24px;
  }
  .login-page-content1 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .login-page-branding {
    max-width: 70%;
  }
}
@media(max-width: 479px) {
  .login-page-navbar {
    padding: var(--dl-space-space-unit);
  }
  .login-page-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .login-page-mobile-menu {
    padding: 16px;
  }
  .login-page-mobile-menu1 {
    padding: 16px;
  }
}
